body{
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 10em;
}

*{
    margin: 0;
    padding: 0;
    text-align:center;
}

.text{
    font-family: monospace;
    margin-top: 2em;
    position: relative;
    font-size: 3.3em;
    text-align: center;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));

}
.text span{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
    
}
.para{
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 0em;
}

.max20 {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    margin-top: 0em;
}
.input{
    margin-bottom: 1em;
    margin-top: 1em;
    border: none;
    width: 17em;
    height: 2.1em;
    border-radius: 5em;
    text-indent: 0.8em;
    background: transparent;
    border-color: white;
    color: white;
    text-align: left;
}
.button{
    border-radius: 5em;
    border-color: white;
    padding: 0.5em;
    color: white;
    background: transparent;
}
::placeholder{
    color: white;
    
}
.footer{
    font-size: 1.5em;
    margin-top: 10em;
    margin-bottom: 0em;
    text-align: center;
}
.footer2{
    margin-top: 0em;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0em;
}